[2021-07-22 15:21] jlooper opened #13 "Lesson 1: Defining Data Science"
- [ ] Quiz 1
- [ ] Written Lesson
- [ ] Challenge
- [ ] Further Reading Section
- [ ] Quiz 2
- [ ] Assignment

[2021-07-22 15:23] jlooper opened #14 "Lesson 2: Data Science Ethics"
- [x] Quiz 1
- [x] Written Lesson
- [ ] Challenge
- [x] Further Reading Section
- [x] Quiz 2
- [ ] Assignment

[2021-07-22 15:28] jlooper opened #15 "Lesson 3: Defining Data"
- [ ] Quiz 1
- [x] Written Lesson
- [ ] Challenge
- [ ] Further Reading Section
- [ ] Quiz 2
- [x] Assignment

[2021-07-22 15:28] jlooper opened #16 "Lesson 4: Intro to Probability/Stats"
- [ ] Quiz 1
- [ ] Written Lesson
- [ ] Challenge
- [ ] Further Reading Section
- [ ] Quiz 2
- [ ] Assignment

[2021-07-22 15:28] jlooper opened #17 "Lesson 6: Non-Relational Data ( Spreadsheets + NoSQL)"
- [ ] Quiz 1
- [ ] Written Lesson
- [ ] Challenge
- [ ] Further Reading Section
- [ ] Quiz 2
- [ ] Assignment

[2021-07-22 15:28] jlooper opened #18 "Lesson 5: Relational Databases"
- [ ] Quiz 1
- [ ] Written Lesson
- [ ] Challenge
- [ ] Further Reading Section
- [ ] Quiz 2
- [ ] Assignment

[2021-07-22 15:28] jlooper opened #19 "Lesson 7: NoSQL"
- [ ] Quiz 1
- [ ] Written Lesson
- [ ] Challenge
- [ ] Further Reading Section
- [ ] Quiz 2
- [ ] Assignment

[2021-07-22 15:29] jlooper opened #20 "Lesson 8: Python and Data"
- [ ] Quiz 1
- [ ] Written Lesson
- [ ] Challenge
- [ ] Further Reading Section
- [ ] Quiz 2
- [ ] Assignment

[2021-07-22 15:29] jlooper opened #21 "Lesson 9: Cleaning and Transformations"
- [ ] Quiz 1
- [ ] Written Lesson
- [ ] Challenge
- [ ] Further Reading Section
- [ ] Quiz 2
- [ ] Assignment

[2021-07-22 15:29] jlooper opened #22 "Lesson 10: Visualizing Quantities"
- [x] Quiz 1
- [x] Written Lesson
- [x] Challenge
- [x] Further Reading Section
- [x] Quiz 2
- [x] Assignment

[2021-07-22 15:29] jlooper opened #23 "Lesson 11: Visualizing Distributions"
- [x] Quiz 1
- [x] Written Lesson
- [x] Challenge
- [x] Further Reading Section
- [x] Quiz 2
- [x] Assignment

[2021-07-22 15:29] jlooper opened #24 "Lesson 12: Visualizing Proportions"
- [x] Quiz 1
- [x] Written Lesson
- [x] Challenge
- [x] Further Reading Section
- [x] Quiz 2
- [x] Assignment

[2021-07-22 15:30] jlooper opened #25 "Lesson 13: Visualizing Relationships"
- [x] Quiz 1
- [x] Written Lesson
- [x] Challenge
- [x] Further Reading Section
- [x] Quiz 2
- [x] Assignment

[2021-07-22 15:30] jlooper opened #26 "Lesson 15: DS Cycle - Capturing"
- [ ] Quiz 1
- [ ] Written Lesson
- [ ] Challenge
- [ ] Further Reading Section
- [ ] Quiz 2
- [ ] Assignment

[2021-07-22 15:30] jlooper opened #27 "Lesson 16 - DS Cycle - Processing"
- [ ] Quiz 1
- [ ] Written Lesson
- [ ] Challenge
- [ ] Further Reading Section
- [ ] Quiz 2
- [ ] Assignment

[2021-07-22 15:30] jlooper opened #28 "Lesson 17 - DS Cycle - Analyzing"
- [ ] Quiz 1
- [ ] Written Lesson
- [ ] Challenge
- [ ] Further Reading Section
- [ ] Quiz 2
- [ ] Assignment

[2021-07-22 15:31] jlooper opened #29 "Lesson 18 - DS Cycle - Communication"
- [ ] Quiz 1
- [ ] Written Lesson
- [ ] Challenge
- [ ] Further Reading Section
- [ ] Quiz 2
- [ ] Assignment

[2021-07-22 15:31] jlooper opened #30 "Lesson 19 - DS Cycle - Maintaining"
- [ ] Quiz 1
- [ ] Written Lesson
- [ ] Challenge
- [ ] Further Reading Section
- [ ] Quiz 2
- [ ] Assignment

[2021-07-22 15:31] jlooper opened #31 "Lesson 20 - DS in Cloud - Intro"
- [ ] Quiz 1
- [ ] Written Lesson
- [ ] Challenge
- [ ] Further Reading Section
- [ ] Quiz 2
- [ ] Assignment

[2021-07-22 15:31] jlooper opened #32 "Lesson 21 - DS in Cloud 1"
- [x] Quiz 1
- [x] Written Lesson
- [x] Challenge
- [x] Further Reading Section
- [x] Quiz 2
- [x] Assignment

[2021-07-22 15:31] jlooper opened #33 "Lesson 22 - DS in Cloud 2"
- [x] Quiz 1
- [x] Written Lesson
- [x] Challenge
- [x] Further Reading Section
- [x] Quiz 2
- [x] Assignment

[2021-07-22 15:31] jlooper opened #34 "Lesson 23 - DS in Wild - Finance"
- [ ] Quiz 1
- [ ] Written Lesson
- [ ] Challenge
- [ ] Further Reading Section
- [ ] Quiz 2
- [ ] Assignment

[2021-07-22 15:31] jlooper opened #35 "Lesson 24 - DS in Wild - Sociology?"
- [ ] Quiz 1
- [ ] Written Lesson
- [ ] Challenge
- [ ] Further Reading Section
- [ ] Quiz 2
- [ ] Assignment

[2021-07-22 15:39] jlooper opened #36 "Lesson 14: Meaningful Vis"
- [x] Quiz 1
- [x] Written Lesson
- [x] Challenge
- [x] Further Reading Section
- [x] Quiz 2
- [x] Assignment

[2021-07-22 16:38] nitya opened #37 "Sketchnotes: Lessons + Roadmap"
- [ ] Roadmap
- [ ] Lesson 1
- [ ] Lesson 2
- [ ] Lesson 3
- [ ] Lesson 4
- [ ] Lesson 5
- [ ] Lesson 6

[2021-09-08 15:50] #22 closed, assigned to jlooper

[2021-09-08 15:50] #23 closed, assigned to jlooper

[2021-09-08 15:50] #24 closed, assigned to jlooper

[2021-09-08 15:50] #25 closed, assigned to jlooper

[2021-09-08 15:50] #36 closed, assigned to jlooper

[2021-09-08 15:51] #32 closed, assigned to maud-lv, Amagash

[2021-09-08 15:51] #33 closed, assigned to maud-lv, Amagash

[2021-09-09 17:05] #19 closed, assigned to nobody

[2021-09-11 13:12] iofall opened #68 "[Review] 12-visualization-relationships"
# This lesson has been reviewed and resolved of the following issues
- [x] Typos
- [x] Grammar errors
- [x] Missing links
- [x] Broken Images
- [x] Checked for completeness
- [x] Quiz (if no quiz assign to paladique)

[2021-09-12 15:39] jlooper opened #71 "TODO: refresh offline content for all 20 lessons (pdf)"
edit the side navigation to incorporate links to all lessons

[2021-09-12 16:02] Iftu119 opened #72 "[Review] 04 - Statistics and Probability"
# This lesson has been reviewed and resolved the following issues

- [x] Typos
- [x] Grammar errors
- [x] Missing links
- [x] Broken Images
- [x] Checked for completeness
- [x] Quiz (if no quiz assign to @paladique)

[2021-09-12 16:51] jlooper opened #74 "TODO: Let's add 'knowledge checks' throughout all lessons"
Let's break up walls of text by adding periodic knowledge checks, like the ones here:

`✅ There are very good 'cheat sheets' available for Matplotlib [here]() and [here]().`

https://github.com/microsoft/Data-Science-For-Beginners/tree/main/3-Data-Visualization/09-visualization-quantities have some interleaved.

[2021-09-12 17:44] jlooper opened #75 "TODO: if there is no notebook associated with a lesson, remove the blank one in the root and the solution folder"
clean up!

[2021-09-13 08:54] ssanya942 opened #77 "Python and Data(Pandas)[Review]"
# This lesson has been reviewed and resolved of the following issues
- [x] Typos:Rectified
- [x] across written as 'accross'
- [x] 'many times' written as 'manytimes'
- [x] missing article
- [x] Grammar errors: Rectified
- [ ]
- [x] Missing links: None found
- [x] Broken Images: None found
- [x] Checked for completeness: Yes
- [x] Quiz (if no quiz assign to @paladique): 2 Quizzes assigned

[2021-09-13 12:28] Arpiiitaaa opened #78 "defining-data-science"
INTRO:
Line 2 : “the” current time…
Line 2:  operate with data “by” counting the….
Line 5: data “has become” much….

DATA SCIENCE:
Line 1: as “a” scientific
Line 9: Nowadays, it “has become” evident….. is much “broader”

OTHER RELATED FIELDS:
Line 1: data is “a”…..

TYPES OF DATA
Line 2: I think a fullstop should replace the hyphen.
Table – Structured: Date for age and gender “of” all….
Table - Un

[2021-09-13 18:46] #78 closed, assigned to nobody

[2021-09-13 23:45] dibrinsofor opened #85 "[Review] 13 - Making meaningful Visualizations"
# This lesson has been reviewed and resolved of the following issues
- [x] Typos
- [x] Grammar errors
- [x] Missing links
- [x] Broken Images
- [x] Checked for completeness
- [x] Quiz (if no quiz assign to @paladique)

[2021-09-14 10:07] Boosteblume opened #86 "[Review] 14 - Introduction to Data Science Lifecycle"
# This lesson has been reviewed and resolved of the following issues
- [ ] Typos
- [ ] Grammar errors
- [ ] Missing links
- [ ] Broken Images
- [ ] Checked for completeness
- [ ] Quiz (if no quiz assign to @paladique)

[2021-09-14 20:30] RohitY24 opened #88 "[Review] Relational Databases"
# This lesson has been reviewed and resolved of the following issues
- [x] Typos
- [x] Grammar errors
- [x] Missing links
- [x] Broken Images
- [x] Checked for completeness
- [ ] Quiz (if no quiz assign to @paladique)

[2021-09-17 05:06] Nawrin14 opened #94 "Visualizing Data: Proportions [Review]"
# This lesson has been reviewed and resolved of the following issues
- [x] Typos
- [x] Grammar errors
- [x] Missing links
- [x] Broken Images
- [x] Checked for completeness
- [x] Quiz (if no quiz assign to @paladique)

[2021-09-17 06:10] RayWP opened #95 "[Review] 03 - Defining Data"
# This lesson has been reviewed and resolved of the following issues
- [x] Typos
- [x] Grammar errors
- [x] Missing links
- [x] Broken Images
- [x] Checked for completeness
- [x] Quiz (if no quiz assign to @paladique)

[2021-09-17 20:04] anupamishra333 opened #99 "Notebook Link Working on GitHub ReadMe.md but not in GitHub Pages"
Notebook Link Working on GitHub ReadMe.md but not in GitHub Pages getting 404 Error
![Screenshot (334)](https://user-images.githubusercontent.com/66557767/133847119-f3d5a8af-5569-460b-b552-981e70b08486.png)
KIndly Check @jlooper @paladique

[2021-09-18 10:05] RohitY24 opened #100 "No question in Lesson-5 Quiz"
**Describe the bug**
In Lesson-5 (Relational Databases), the Pre-Lecture Quiz does not have Question description. It only carries the answer choices in form of MCQ. The same behavior is seen for Post-Lecture Quiz, with repeated options from Pre-Lecture Quiz.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Lesson-5'
2. Click on 'Pre-Lecture Quiz, Post Quiz'
3. See error

**Expected beh

[2021-09-18 10:17] RohitY24 opened #101 "No assignment in Lesson-5"
**Describe the bug**
There is no Assignment for Lesson-5. Assignment.md leads to a blank page with no Question description or solutions.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Lesson-5'
2. Click on 'Assignment' and click on 'Assignment Title'.
3. See error

**Expected behavior**
The Assignment should be visible.

**Screenshots**

![image](https://user-images.githubusercontent

[2021-09-25 17:25] alondraSanchezM opened #113 "Visualizing Data: Distributions [Review]"
# This lesson has been reviewed and resolved of the following issues
- [x] Typos
- [x] Grammar errors
- [x] Missing links
- [x] Broken Images
- [x] Checked for completeness
- [x] Quiz (if no quiz assign to @paladique)

[2021-09-25 22:43] #113 closed, assigned to alondraSanchezM

[2021-09-27 06:05] ssanya942 opened #115 "Data Science Lifecycle-Analysis[Review]"
# This lesson has been reviewed and resolved of the following issues
- [x] Typos: None found
- [x] Grammar errors: None found
- [x] Missing links: analysis link on data science lifecycle page, section on visualisations, actions taken to resolve them
- [x] Broken Images: none found
- [x] Checked for completeness: yes
- [x] Quiz (if no quiz assign to @paladique): Pre-lecture and Post-lecture quiz li

[2021-09-27 17:48] #21 closed, assigned to nobody

[2021-09-27 17:48] #20 closed, assigned to shwars

[2021-09-27 17:48] #26 closed, assigned to paladique

[2021-09-27 17:48] #27 closed, assigned to nobody

[2021-09-27 17:48] #28 closed, assigned to nobody

[2021-09-27 17:48] #29 closed, assigned to JalenMcG

[2021-09-27 17:48] #30 closed, assigned to nobody

[2021-09-27 17:48] #31 closed, assigned to maud-lv, Amagash

[2021-09-27 17:48] #34 closed, assigned to nobody

[2021-09-27 17:48] #35 closed, assigned to nobody

[2021-09-27 20:45] #115 closed, assigned to paladique, ssanya942

[2021-09-28 18:06] #13 closed, assigned to shwars

[2021-09-28 18:06] #14 closed, assigned to nitya

[2021-09-28 18:06] #15 closed, assigned to paladique

[2021-09-28 18:06] #16 closed, assigned to shwars

[2021-09-28 18:06] #17 closed, assigned to paladique

[2021-09-28 18:06] #18 closed, assigned to GeekTrainer

[2021-09-28 18:06] #37 closed, assigned to nitya

[2021-09-28 18:06] #68 closed, assigned to iofall

[2021-09-28 18:06] #72 closed, assigned to Iftu119

[2021-09-28 18:06] #77 closed, assigned to ssanya942

[2021-09-28 18:06] #85 closed, assigned to dibrinsofor

[2021-09-28 18:06] #86 closed, assigned to Boosteblume

[2021-09-28 18:06] #88 closed, assigned to RohitY24

[2021-09-28 18:06] #94 closed, assigned to Nawrin14

[2021-09-28 18:06] #100 closed, assigned to jlooper

[2021-09-28 18:06] #101 closed, assigned to nobody

[2021-09-28 18:11] #95 closed, assigned to paladique, RayWP

[2021-09-28 20:33] Majd223 opened #127 "Link to previous lesson not working"
**Describe the bug**
A link that is supposed to take to the previous lesson is leading to a 404 error page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '2-Working-With-Data'
2. Go to '06-non-relational'
3. Go to 'README.md'
4. Scroll to 'Document Data Stores with the Azure Cosmos DB'
5.  Click on the link saying 'previous lesson'

**Expected behavior**
The link should take to a pre

[2021-09-28 22:03] jlooper commented on #127
fixed

[2021-09-28 22:03] #127 closed

[2021-09-28 22:18] jlooper commented on #99
Notebooks should be used directly in VS Code. Probably we can put a note about that in the README

[2021-09-28 22:18] #75 closed

[2021-09-28 22:18] #74 closed

[2021-09-28 22:19] jlooper commented on #71
done

[2021-09-28 22:19] #71 closed

[2021-09-29 14:23] anupamishra333 opened #129 "Some Images are not showing in Deployment"

[2021-09-29 14:55] jlooper commented on #129
Please be descriptive and show the links to broken images; note that I also just rearranged some images, so closing this for now

[2021-09-29 14:57] jlooper commented on #99
The docsify deployment is what's behind the scenes for GH Pages. I don't think notebooks will work at all with docsify. Closing this, and adding a note in the README.

[2021-09-29 14:57] #99 closed

[2021-09-29 15:44] anupamishra333 commented on #99
Ohh then it will not work.
Thanks

On Wed, Sep 29, 2021, 8:27 PM Jen Looper ***@***.***> wrote:

[2021-09-29 17:40] anupamishra333 commented on #129
![Screenshot (343)](https://user-images.githubusercontent.com/66557767/135320620-6e92943c-e53e-4b7e-a8c4-b8a795076d12.png)
Lesson 1 : introduction -> 04 stats and probability

[2021-09-29 17:53] jlooper commented on #129
got it, thanks

[2021-09-29 17:53] #129 closed

[2021-10-01 01:32] paladique opened #132 "[TRANSLATIONS] - Spanish"
- [ ] Base README.md
- [ ] Quizzes
- [ ] Introduction base README
   - [ ] Defining Data Science README
   - [ ] Defining Data Science assignment
   - [ ] Ethics README
   - [ ] Ethics assignment
   - [ ] Defining Data README
   - [ ] Defining Data assignment
   - [ ] Stats and Probability README
   - [ ] Stats and Probability assignment
- [ ] Working with Data base README
   - [ ] Relational Data

[2021-10-01 01:33] paladique opened #133 "[TRANSLATIONS] - French"
- [ ] Base README.md
- [ ] Quizzes
- [ ] Introduction base README
   - [ ] Defining Data Science README
   - [ ] Defining Data Science assignment
   - [ ] Ethics README
   - [ ] Ethics assignment
   - [ ] Defining Data README
   - [ ] Defining Data assignment
   - [ ] Stats and Probability README
   - [ ] Stats and Probability assignment
- [ ] Working with Data base README
   - [ ] Relational Data

[2021-10-01 01:34] paladique opened #134 "[TRANSLATIONS] - Italian"
- [ ] Base README.md
- [ ] Quizzes
- [ ] Introduction base README
   - [ ] Defining Data Science README
   - [ ] Defining Data Science assignment
   - [ ] Ethics README
   - [ ] Ethics assignment
   - [ ] Defining Data README
   - [ ] Defining Data assignment
   - [ ] Stats and Probability README
   - [ ] Stats and Probability assignment
- [ ] Working with Data base README
   - [ ] Relational Data

[2021-10-01 01:34] paladique opened #135 "[TRANSLATIONS] - Simplified Chinese"
- [ ] Base README.md
- [ ] Quizzes
- [ ] Introduction base README
   - [ ] Defining Data Science README
   - [ ] Defining Data Science assignment
   - [ ] Ethics README
   - [ ] Ethics assignment
   - [ ] Defining Data README
   - [ ] Defining Data assignment
   - [ ] Stats and Probability README
   - [ ] Stats and Probability assignment
- [ ] Working with Data base README
   - [ ] Relational Data

[2021-10-01 01:34] paladique opened #136 "[TRANSLATIONS] - Portuguese (PT-PT and PT-BR)"
### PT-PT
- [x] Base README.md
- [ ] Quizzes
- [ ] Introduction base README
   - [ ] Defining Data Science README
   - [ ] Defining Data Science assignment
   - [ ] Ethics README
   - [ ] Ethics assignment
   - [ ] Defining Data README
   - [ ] Defining Data assignment
   - [ ] Stats and Probability README
   - [ ] Stats and Probability assignment
- [ ] Working with Data base README
   - [ ] Relat

[2021-10-01 01:40] paladique opened #137 "[TRANSLATIONS] - Arabic (MSA)"
- [ ] Base README.md
- [ ] Quizzes
- [ ] Introduction base README
   - [ ] Defining Data Science README
   - [ ] Defining Data Science assignment
   - [ ] Ethics README
   - [ ] Ethics assignment
   - [ ] Defining Data README
   - [ ] Defining Data assignment
   - [ ] Stats and Probability README
   - [ ] Stats and Probability assignment
- [ ] Working with Data base README
   - [ ] Relational Data

[2021-10-01 01:45] paladique opened #138 "[Lesson] R"
Take the lesson on [Python and Pandas](https://github.com/microsoft/Data-Science-For-Beginners/tree/main/2-Working-With-Data/07-python) and create its R counterpart.

Add this as a bonus lesson in the Working with Data  directory

[2021-10-01 01:45] paladique opened #139 "[TRANSLATIONS] - Russian"
- [x] Base README.md
- [ ] Quizzes
- [ ] Introduction base README
   - [x] Defining Data Science README
   - [x] Defining Data Science assignment
   - [x] Ethics README
   - [x] Ethics assignment
   - [x] Defining Data README
   - [x] Defining Data assignment
   - [x] Stats and Probability README
   - [x] Stats and Probability assignment
- [ ] Working with Data base README
   - [ ] Relational Data

[2021-10-01 01:58] paladique opened #140 "[Lesson] Building on the Data Preparation Lesson"
The [data preparation lesson](https://github.com/microsoft/Data-Science-For-Beginners/tree/main/2-Working-With-Data/08-data-preparation is looking pretty small, some additions to this lesson would make this spectacular.

[2021-10-01 02:01] paladique opened #141 "Make a spreadsheet for Communication Lesson Case Study"
The [communication lesson](https://github.com/microsoft/Data-Science-For-Beginners/tree/main/4-Data-Science-Lifecycle/16-communication) in the data science lifecycle has a awesome case study. Generate a fictitious spreadsheet (Excel, or something that can be opened in Excel, no CSVs please!) using the case study in this lesson.

[2021-10-01 07:20] ChungZH commented on #135
Base README #142

[2021-10-01 13:19] AdityaGarg00 opened #146 "[TRANSLATIONS] - Hindi"
- [ ] Base README.md
- [ ] Quizzes
- [ ] Introduction base README
   - [ ] Defining Data Science README
   - [ ] Defining Data Science assignment
   - [ ] Ethics README
   - [ ] Ethics assignment
   - [ ] Defining Data README
   - [ ] Defining Data assignment
   - [ ] Stats and Probability README
   - [ ] Stats and Probability assignment
- [ ] Working with Data base README
   - [ ] Relational Data

[2021-10-01 14:00] joshi-kaushal commented on #146
I'd love to work on this one...

[2021-10-01 19:14] subh-chaturvedi commented on #146
I would also love to help with this, can I work with this too?

[2021-10-01 20:32] jlooper commented on #146
I recommend starting a discussion in the discussion boards to divide up the work

[2021-10-01 22:59] paladique commented on #146
@AdityaGarg00 @subh-chaturvedi @joshi-kaushal  check out this thread here to discuss  #148

[2021-10-01 23:34] ChungZH commented on #135
Introduction base README #149

[2021-10-02 00:23] ChungZH commented on #135
Data Science in the Wild base README #150

[2021-10-02 01:15] rosiegamgee718 commented on #141
I think I can do this! Would you like a spreadsheet for Emerson's presentation from the case study (just to clarify)? Thanks!!

[2021-10-02 01:56] ChungZH commented on #135
@jlooper @paladique
- [x] Introduction base README #149
- [x] Data Science in the Wild base README #150

Remember to tick them! thanks :heart:

[2021-10-02 02:01] jlooper commented on #135
@ChungZH do you want me to remove the list and you recreate it so you can manage it?

[2021-10-02 02:03] ChungZH commented on #135
Uh-huh. I'm afraid I don't have enough time to manage this work 😂 I only have time when in holidays

[2021-10-02 04:29] IndraP24 commented on #140
I would like to add some more content to the lesson if it is available for us to contribute to.

[2021-10-02 09:20] Nockkk commented on #136
Hello,
I am Portuguese. If you want, I can work on this issue. I can translate to pt-pt.

[2021-10-02 09:33] leonardopaffi commented on #134
I'd love to help. Already created a fork and draft pull req.

[2021-10-02 10:41] bromero26 commented on #132
Currently translating Base Readme.md.  WIll submit pull request ASAP 👍

[2021-10-02 13:36] bromero26 opened #154 "VIDEO Intro to statistics. Shows "Height", but "Weight" is meant"
**Describe the bug**
At 2:32  and until 4:42 Dmitry mentions "Height" and a table showing baseball players heights is shown. Most likely Weight is meant.

**Expected behavior**
The video should be edited again

**Screenshots**
![image](https://user-images.githubusercontent.com/40992230/135718688-5363074f-b0d3-4277-ba42-9467c335b04d.png)

[2021-10-02 13:58] jlooper commented on #140
hi @IndraP24 if you'd like to propose a PR we will take a look! thank you

[2021-10-02 14:01] IndraP24 commented on #140
Sure @jlooper. Will propose one as soon as I'm done with adding the contents.

[2021-10-02 20:56] izzy-el commented on #136
Hey, I am from Brazil. Would it be interested to translate the files to PT-BR (Brazilian Portuguese) as well?

[2021-10-03 06:11] nirmalya8 commented on #140
Hey, Can I add some more code blocks and elaborate on some of the explanations in the [notebooks.ipynb](https://github.com/microsoft/Data-Science-For-Beginners/blob/main/2-Working-With-Data/08-data-preparation/notebook.ipynb) file under data preparation? Can I work on it and propose a PR?

[2021-10-03 13:39] jlooper commented on #140
Yes, but I’d recommend working with other contributors to make a good lesson. Maybe outline here your proposed additions

[2021-10-03 16:06] nirmalya8 commented on #140
@jlooper
I want to implement the following:
- [ ] Code examples
    - [ ]  Shape of the dataframe
    - [ ]  Dataframe.describe()
    - [ ]  Ordinal Encoding
    - [ ]  One Hot Encoding
    - [ ]  Imputations using sklearn's SimpleImputer
- [ ]  Explanations
    - [ ]  When do we drop rows with missing values?
    - [ ]  When do we replace missing values?
    - [ ]  For numerical data, when do rep

[2021-10-03 16:57] IndraP24 commented on #140
That's great @nirmalya8. It doesn't conflict with anything I'm adding as a part of the README explanations.

I'm creating a new Section: Common Data Preparation Tasks with explanations of the following:
- [x] Data Cleaning
- [x] Feature Selection
- [ ] Data Transforms
- [ ] Feature Engineering
- [ ] Dimensionality Reduction

I'm only adding brief explanations as of now.

[2021-10-03 17:02] jlooper commented on #140
hi, we'll need to do two things: prepare a solution notebook and prepare the .md explanation lesson itself. I recommend avoiding using Sklearn right now, as we use it so much in the ML curriculum (aka.ms/ml-beginners). Let's see how far we can get using pandas and numpy.

Let's also create the lesson as a 'backwards designed' lesson. First, list the concepts you want to drive home:

- When do we d

[2021-10-03 17:14] nirmalya8 commented on #140
Yeah, @jlooper by explanations I meant this only. So, basically, whatever I listed, it would be better to create a new notebook for it(the backwards-designed thing you mentioned). Stating the reasons why what is done and then showing it via some code blocks. So, it isn't necessary for me to edit the existing notebook. And as for the readme, @IndraP24 is doing that. Is that okay?

[2021-10-03 17:16] jlooper commented on #140
hi, we want just one solution notebook, so the new content needs to dovetail to the old content. It's also important that the README reflect exactly what's in that solution notebook; you can see how it's done in the visualization lessons. Do you think you can create this same type of experience with this new content?

[2021-10-03 17:23] jlooper commented on #140
Looking at the lesson structure, I see what's going on. Most of the content is in the base notebook. I think it will be better to restructure the lesson by adding to the README and the base notebook, to add the missing pieces. Then, I will move this full notebook over to the 'solution' folder and create a root blank notebook for students to use.

So the work order is:

- enhance the current README

[2021-10-03 17:33] nirmalya8 commented on #140
Okay, I get what you are saying. As the [solutions notebook](https://github.com/microsoft/Data-Science-For-Beginners/blob/main/2-Working-With-Data/08-data-preparation/notebook.ipynb) is already there, and it contains some stuff, I would just edit that and fit in the things I mentioned in that notebook. As for the readme,  I won't go beyond what I mentioned in [this comment](https://github.com/micr

[2021-10-03 17:39] IndraP24 commented on #140
Alright, got it. I have already added some content to the README as per [this comment](https://github.com/microsoft/Data-Science-For-Beginners/issues/140#issuecomment-932987846).

I'll also go beyond that and  `enhance the current README to reflect what's in the current base notebook with explanations`. I'll follow the other lessons in this repo for the template and will stick with `pandas` and `n

[2021-10-03 18:54] imsushant12 commented on #146
I would like to help with this, can I work with this too?

[2021-10-04 00:27] jlooper commented on #140
terrific! Thank you all!

[2021-10-04 02:28] ChungZH commented on #135
Proportions assignment
 #158

[2021-10-04 14:07] paladique commented on #146
@imsushant12 absolutely! Feel free to hop in on that discussion thread in #148

[2021-10-04 15:00] imsushant12 commented on #146
Thankyou 🙌

[2021-10-04 15:59] OscarRG commented on #132
Hi @paladique could you please assign me the translation of Quizzes.md? I would like to work on it :)

[2021-10-04 17:14] paladique commented on #154
Thanks for catching this, @bromero26!

@shwars let us know what you'd like to do - I think an edit (adding a note/voiceover/background edit) would be fine

[2021-10-04 17:15] paladique commented on #140
What a wonderful discussion, thanks all!

[2021-10-04 18:02] paladique commented on #141
@rosiegamgee718 thank you so much! Yes, that is correct - this is for Emerson's presentation.

[2021-10-04 18:59] paladique commented on #132
@OscarRG sure thing :)

[2021-10-04 19:03] paladique commented on #132
@bromero26 @OscarRG thank you both so much for your contributions! I suspect we may have some more visitors who would be interested in helping out, so I added a discussion board thread at #162 to discuss dividing the work and review.

[2021-10-04 19:04] paladique commented on #134
@leonardopaffi thank you!!

[2021-10-04 19:06] paladique commented on #136
@Nockkk @izzy-el absolutely! I have assigned the issue to you both. I will let you both decide on which parts you'd prefer to translate. Thank you!

[2021-10-04 19:19] OscarRG commented on #132
@paladique great!

[2021-10-04 21:46] izzy-el commented on #136
Hey @paladique. We are from different countries so, even though we both speak Portuguese, there are some differences in the language. So we decided to translate, to both PT-BR (Brazil) and PT-PT (Portugal). Is that okay?

[2021-10-05 05:41] ParnaviKulkarni commented on #138
I will like to work on it

[2021-10-05 05:43] ParnaviKulkarni commented on #146
Is it still open can I work on this?

[2021-10-05 13:19] paladique commented on #146
@ParnaviKulkarni absolutely! Feel free to hop in and tell others what you plan to work on

[2021-10-05 22:48] jlooper commented on #138
We await your PRs! Please make sure to follow the original lesson’s format 🙏👍

[2021-10-06 11:28] alirezaAsadi2018 opened #168 "[TRANSLATIONS] - Persian"
- [x] Base README.md
- [ ] Quizzes
- [ ] Introduction base README
   - [ ] Defining Data Science README
   - [ ] Defining Data Science assignment
   - [ ] Ethics README
   - [ ] Ethics assignment
   - [ ] Defining Data README
   - [ ] Defining Data assignment
   - [ ] Stats and Probability README
   - [ ] Stats and Probability assignment
- [ ] Working with Data base README
   - [ ] Relational Data

[2021-10-06 11:52] alirezaAsadi2018 commented on #168
I'll take the first Base Readme.md myself. 👍
Look forward to seeing u help finish this very soon. 💯

[2021-10-06 12:13] maud-lv commented on #133
Hi @paladique I would like to take on the translation of the README to start with

[2021-10-06 12:14] maud-lv opened #169 "Base README.md"
Working on the French translation of the base README file

[2021-10-06 19:14] alirezaAsadi2018 opened #171 "Some links are not referencing correctly in base readme"
Hello, Thanks for ur awesome repository.
There are two links under [Lessons](https://github.com/microsoft/Data-Science-For-Beginners#lessons) part, in table rows `15` and `16`, both under column `Linked Lesson`.
These two links are referencing to wrong links which results in a `404 not found` page when they are clicked.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Lessons](https://

[2021-10-06 21:49] paladique commented on #171
Thank you @alirezaAsadi2018!

[2021-10-07 04:11] hereje commented on #132
Hello there!
I've already translated base readme files on module 1 (sections 1 to 3)

See PR #173

[2021-10-07 07:31] thisislazaruss opened #174 "[TRANSLATIONS] - Nepali"
- [x] Base README.md
- [ ] Quizzes
- [x] Introduction base README
   - [ ] Defining Data Science README
   - [ ] Defining Data Science assignment
   - [ ] Ethics README
   - [ ] Ethics assignment
   - [ ] Defining Data README
   - [ ] Defining Data assignment
   - [ ] Stats and Probability README
   - [ ] Stats and Probability assignment
- [x] Working with Data base README
   - [ ] Relational Data

[2021-10-07 11:46] fortis3000 commented on #139
Hi, I'm in. Please, check my PR.

[2021-10-08 07:00] progressive-coder-ankur commented on #174
Is this task open ? I would like to contribute.

[2021-10-08 16:15] ksenginew opened #179 "Add a social banner for project"
I had created a article of "Top 10 trending github repos of the week💜."

Here https://dev.to/ksengine/top-10-trending-github-repos-of-the-week-k7

I can't see your social banner there.
Please add a social banner to this project

According to github docs

You can customize the image displayed on social media platforms when someone links to your repository.

See https://docs.github.com/en/repositori

[2021-10-08 16:20] jlooper commented on #179
Hi, thank you for the writeup. We do have a social banner, you can see it when referencing us on Twitter and other platforms.

[2021-10-10 01:45] fernandakawasaki commented on #136
Hi, I would like to help translate to pt-br too! What parts are you working on @izzy-el ? Just to make sure I pick something different.

[2021-10-10 01:57] izzy-el commented on #136
Hey @fernandakawasaki , great! So far I have finished the base README and currently I am working on the Introduction READMEs. I should open a draft PR soon.

[2021-10-10 02:03] fernandakawasaki commented on #136
Ok! I will translate the Visualization base section

[2021-10-10 16:07] shivanithorve01 commented on #146
Hey can I contribute ?

[2021-10-10 16:55] AdityaGarg00 commented on #146
Yea Sure Go ahead @shivanithorve01

[2021-10-13 16:31] #179 closed, assigned to nobody

[2021-10-14 01:54] hereje commented on #132
Hello guys.

If you don't mind. I'll translate the following files -one per PR-

* 6-Data-Science-In-Wild/README.md
* 6-Data-Science-In-Wild/20-Real-World-Examples/assignment.md
* 6-Data-Science-In-Wild/20-Real-World-Examples/README.md

Are you OK with this?

Please let me know, so that I can start the translation.

[2021-10-14 15:29] ManosGEM opened #190 "[TRANSLATIONS]-Greek"
- [ ] Base README.md
- [ ] Quizzes
- [ ] Introduction base README
   - [ ] Defining Data Science README
   - [ ] Defining Data Science assignment
   - [ ] Ethics README
   - [ ] Ethics assignment
   - [ ] Defining Data README
   - [ ] Defining Data assignment
   - [ ] Stats and Probability README
   - [ ] Stats and Probability assignment
- [ ] Working with Data base README
   - [ ] Relational Data

[2021-10-14 15:32] ManosGEM commented on #190
Hello , I would like to help with translating some files in Greek as a first pull request in the context of hacktoberfest 2021 , starting today with Base README.md
Thank you.

[2021-10-17 11:31] parkjh688 opened #197 "[TRANSLATIONS] - Korean"
Discussion board at #278

- [ ] Base README.md
- [ ] Quizzes
- [ ] Introduction base README
   - [ ] Defining Data Science README
   - [ ] Defining Data Science assignment
   - [ ] Ethics README
   - [ ] Ethics assignment
   - [ ] Defining Data README
   - [ ] Defining Data assignment
   - [ ] Stats and Probability README
   - [ ] Stats and Probability assignment
- [ ] Working with Data base READM

[2021-10-18 16:50] paladique commented on #174
@progressive-coder-ankur @srishtipoudel  I have assigned this to you so you can check off the parts you'd like to take 😄

[2021-10-22 04:42] DhanyaHegde01 commented on #146
I would love to work on Data Science in real-world examples Readme.

[2021-10-24 11:47] allenrick88 opened #212 "Future"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-28 14:49] #212 closed, assigned to nobody

[2021-10-30 01:25] ycechungAI commented on #135
remember to check off the list

[2021-10-31 13:57] iamshanawaz commented on #146
I would love to contribute..

[2021-10-31 16:27] soubhikmandal2000 opened #236 "[TRANSLATIONS] - Bengali"
- [ ] Base README.md
- [ ] Quizzes
- [ ] Introduction base README
   - [ ] Defining Data Science README
   - [ ] Defining Data Science assignment
   - [ ] Ethics README
   - [ ] Ethics assignment
   - [ ] Defining Data README
   - [ ] Defining Data assignment
   - [ ] Stats and Probability README
   - [ ] Stats and Probability assignment
- [ ] Working with Data base README
   - [ ] Relational Data

[2021-11-01 03:46] AdityaGarg00 commented on #146
@iamshanawaz Please go ahead and contribute to the remaining files 😃

[2021-11-01 09:20] vahidbaghi commented on #168
I will translate all the remaining texts.

[2021-11-01 11:55] rashadalhashmi opened #243 "[TRANSLATIONS]"
- [ ] Base README.md
- [ ] Quizzes
- [ ] Introduction base README
   - [ ] Defining Data Science README
   - [ ] Defining Data Science assignment
   - [ ] Ethics README
   - [ ] Ethics assignment
   - [ ] Defining Data README
   - [ ] Defining Data assignment
   - [ ] Stats and Probability README
   - [ ] Stats and Probability assignment
- [ ] Working with Data base README
   - [ ] Relational Data

[2021-11-01 12:15] rashadalhashmi commented on #137
I need to work on " Introduction base README" translation please assign it to me. @paladique

[2021-11-02 00:01] omerisildak opened #247 "[TRANSLATIONS] Turkish"
- [ ] Base README.md
- [ ] Quizzes
- [ ] Introduction base README
   - [ ] Defining Data Science README
   - [ ] Defining Data Science assignment
   - [ ] Ethics README
   - [ ] Ethics assignment
   - [ ] Defining Data README
   - [ ] Defining Data assignment
   - [ ] Stats and Probability README
   - [ ] Stats and Probability assignment
- [ ] Working with Data base README
   - [ ] Relational Data

[2021-11-02 00:05] omerisildak commented on #247
Can you assign it to me?

[2021-11-02 22:28] paladique opened #250 "[TRANSLATIONS] Dutch (NL)"
- [ ] Base README.md
- [ ] Quizzes
- [x] Introduction base README
   - [ ] Defining Data Science README
   - [x] Defining Data Science assignment
   - [ ] Ethics README
   - [ ] Ethics assignment
   - [ ] Defining Data README
   - [ ] Defining Data assignment
   - [ ] Stats and Probability README
   - [ ] Stats and Probability assignment
- [x] Working with Data base README
   - [ ] Relational Data

[2021-11-05 09:15] qzylalala commented on #135
Hey, @ycechungAI   there is a bug in your pr.
All the paths are relative, so some changes are needed.

[2021-11-05 15:17] ycechungAI commented on #135
if you look at the code before I merged, the links are like that before.  I did not touch the paths. You can create another issue for it.

[2021-11-05 15:20] qzylalala commented on #135
Yes, and the fact is that you should change the path, because your README file is in the different directory from the original one.

[2021-11-05 18:10] ycechungAI commented on #135
ill make a pr for it.

[2021-11-06 04:09] Hyejeong443 opened #254 "[TRANSLATIONS]"
- [ ] Base README.md
- [ ] Quizzes
- [ ] Introduction base README
   - [ ] Defining Data Science README
   - [ ] Defining Data Science assignment
   - [ ] Ethics README
   - [ ] Ethics assignment
   - [ ] Defining Data README
   - [ ] Defining Data assignment
   - [ ] Stats and Probability README
   - [ ] Stats and Probability assignment
- [ ] Working with Data base README
   - [ ] Relational Data

[2021-11-06 04:15] Hyejeong443 commented on #254
I translated "Data Science Lifecycle base README - **Introduction assignment**".
I will also translate the remaining five.

Thank you.

[2021-11-06 04:16] #254 closed

[2021-11-06 08:27] Midas-sudo commented on #136
@paladique  I would like to help with the pt-PT translation, could you assist me to the open issue as well?

[2021-11-06 12:25] JULO01 opened #256 "Mobile-friendly quizz-site"
As it is nice to do the lectures **on the way** (e.g. on the bus),
it would be cool if the **quizz sites** of the lectures were **mobile friendly**.

A **redesign or some adaptions of the website** would be helpful, thank you. 😄

![grafik](https://user-images.githubusercontent.com/90795588/140609360-b3edb815-52fe-4f9a-8d56-42a8dbd7bec3.png)

[2021-11-06 12:47] jlooper commented on #256
Hi, you can access the lessons nicely on mobile using the site: https://microsoft.github.io/Data-Science-For-Beginners/#/1-Introduction/01-defining-data-science/README

for the quizzes, it looks like some changes to the navigation would be good on mobile, though it is still usable. Can you make a PR to fix?

[2021-11-06 13:24] JULO01 commented on #256
@jlooper
Yes, I can do that. The source code for the quizz-app is on
[github.com/microsoft/Data-Science-For-Beginners/blob/main/quiz-app](https://github.com/microsoft/Data-Science-For-Beginners/blob/main/quiz-app)
right?

[2021-11-06 14:46] allenrick88 commented on #212
Why is closed

[2021-11-06 14:46] allenrick88 commented on #212
I need help for my msn email access

[2021-11-06 17:22] jlooper commented on #212
This is inappropriate for this repo

[2021-11-07 10:14] TheDerebeyi commented on #247
Defining Data README kısmını halihazırda çevirdim daha fazla da katkı sağlayabilirim

[2021-11-07 14:25] SoniaComp commented on #197
Hi! I am already working on some of this issue!
Could you assign Chapter 1, 5 to me? 🙏
Please refer to the Draft #157 .

[2021-11-08 16:06] paladique commented on #136
@Midas-sudo sure! You're all set :)

[2021-11-08 17:14] #256 closed

[2021-11-08 18:16] Kadermiyanyedi commented on #247
I am working on the  Working with Data base README - Python Readme sections. Please assign me to this section.

[2021-11-08 18:22] Luarnight commented on #247
I am working on the Working with Introduction base README - Ethics assignment. Please assign me to this section.

[2021-11-09 11:04] SeonDahye commented on #197
Hello, I want to translate CHAPTER 2 or 3. Is there anyone who's already working on it? If not, I want to be assigned and translate it within 2 weeks! Thanks.

[2021-11-09 13:18] Carlosbogo commented on #132
Is there anyone still working on any of the unfinished ones? I would like to start translating if there are no problems with it.

[2021-11-09 13:22] alondraSanchezM commented on #132
Go ahead Carlos

Here https://github.com/microsoft/Data-Science-For-Beginners/discussions/162  you can tell us which ones you will be working on, welcome to the team!

[2021-11-11 03:46] iweixubin commented on #135
计划什么时候翻译好呢？英语渣渣饥渴难耐了~

[2021-11-12 08:19] qzylalala commented on #135
我计划一边跟着看一边翻译一下，可能比较慢🤣

[2021-11-12 15:16] nahyeong99 commented on #197
@paladique Here's my comment! Thank you!

[2021-11-12 15:24] paladique commented on #197
### Discussion Board Thread?

Hey all! We have a lot of contributions for Korean. Would love to continue to support this collaboration! Would you like a thread in the discussion board be helpful for you? You can see how this is used in the discussion here: #148

If yes- let me know and I will be happy to set it up 🙂

[2021-11-12 15:33] nahyeong99 commented on #197
Sure! I love to have our Korean discussion board😄 Thank you for asking

[2021-11-12 15:36] paladique commented on #197
All set here! #278

[2021-11-12 15:41] paladique commented on #135
Let me know if any of you would like to be assigned this issue 🙂

[2021-11-12 15:52] nahyeong99 commented on #197
Thank you for assign me! you can also merge #253 this one!

[2021-11-12 16:00] nahyeong99 commented on #197
Thank you! you can also merge #253 😊

[2021-11-16 18:43] paladique opened #285 "Visualization Lessons in R"
Vidushi and Jasleen will be building out the R versions of the [Visualization Lessons](https://github.com/microsoft/Data-Science-For-Beginners/tree/main/3-Data-Visualization)

- [x]  Quantities
- [x]  Distributions
- [x]  Proportions
- [x]  Relationships
- [x]  Meaningful Visualizations

[2021-11-17 09:04] jasleen101010 commented on #285
Thanks @paladique!

[2021-11-17 22:24] jlooper commented on #243
what translation does this reference? @rashadalhashmi - can you give a status here please?

[2021-11-17 22:57] macyso12 commented on #135
I can help with translations

[2021-11-19 17:53] quake2005 opened #293 "Broken links in 09-visualization-quantities"
**Describe the bug**
Broken links in:
https://github.com/microsoft/Data-Science-For-Beginners/tree/main/3-Data-Visualization/09-visualization-quantities

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '✅ There are very good 'cheat sheets' available for Matplotlib here and here.'
2. Click on '[here](https://github.com/matplotlib/cheatsheets/blob/master/cheatsheets-1.png) and [here](http

[2021-11-22 21:43] flegaspi700 opened #298 "The x and y labels in the PNG images are not readable when using a dark theme setting"
**Describe the bug**
The x and y labels in the PNG images in the link below are not readable when using a dark theme setting.
https://github.com/microsoft/Data-Science-For-Beginners/tree/main/3-Data-Visualization/09-visualization-quantities

**To Reproduce**
Steps to reproduce the behavior:
View the page using a dark theme.
Go to profile -> Settings -> Appearance -> Select Dark Default or Dark Dim

[2021-11-25 07:13] solomedia-account commented on #243
what translation does this reference? @rashadalhashmi please

[2021-11-27 05:21] #293 closed

[2021-11-27 05:21] jlooper commented on #298
If you'd like to create new images, please do so and PR. Please just do one PR for the entire fix, thanks!

[2021-11-27 19:31] flegaspi700 commented on #298
Done. I've created a PR.

[2021-11-29 15:29] Sonerozcan commented on #247
I am working on the Data Preparation README. Please assign me to this section.

[2021-11-29 19:35] flegaspi700 commented on #298
Closing this issue. PR has been created and merged.

[2021-11-29 19:35] #298 closed

[2021-12-05 16:28] sleeper opened #313 "Challenge link broken in Lesson 1 on microsoft.github.io"
**Describe the bug**
The link to the challenge of the 1st lesson is broken on microsoft.github.io.
It points to https://microsoft.github.io/Data-Science-For-Beginners/#/1-Introduction/01-defining-data-science/notebook.ipynb
which is inexistant (Status 404 received).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Lesson 1', 'Challenge' sub-section, on microsoft.github.io (https://micr

[2021-12-05 16:29] sleeper commented on #313
/me stupid. I didn't check that the repo needed to be cloned.

[2021-12-05 16:29] #313 closed

[2021-12-07 09:46] japneetsingh035 commented on #146
Can I contribute to this project?

[2021-12-07 15:47] paladique commented on #146
Absolutely! Check out the list at the top to see what's remaining 🙂

[2021-12-11 10:51] ilmalte opened #321 "Notebooks files cannot be opened or downloaded using web app."
**Describe the bug**
Notebooks files (.ipynb) cannot be opened or downloaded using web app.

**To Reproduce**
Steps to reproduce the behavior:
1. [Go to section 1.1 Defining data science](https://microsoft.github.io/Data-Science-For-Beginners/#/1-Introduction/01-defining-data-science/README)
2. [Click on notebook.ipynb in the Challenge section](https://microsoft.github.io/Data-Science-For-Beginner

[2021-12-11 15:43] jlooper commented on #321
hi, @ilmalte I believe that the problem has to do with the fact that Docsify doesn't support .ipynb format, it only renders markdown files into HTML. Generally, we recommend that folks work with the notebooks offline in VS Code and read the lesson parallel, either in the rendered web site or locally.

[2021-12-12 14:21] SoniaComp commented on #197
Hi! I translated all assignments and READMEs of Chapter 1 and 5.
Please check the #157 🙏. Thank you so much😊

[2021-12-13 07:01] ilmalte commented on #321
I have imagined that but I think it could be better to have a common behavior between the notebooks in the webapp.
If you think rendering the notebooks files is not useful, I suggest to replace the links to point to the Github viewer or remove all the notebooks links like in the [ML-for-beginners](https://github.com/microsoft/ML-For-Beginners) guide.
What do you suggest?

[2021-12-16 16:51] jlooper commented on #321
I did a little research and pushed a suggested fix for this repo here: https://github.com/microsoft/Data-Science-For-Beginners/commit/bc3c3e92066dc238c7420783d3f6a6bee0aa6f05 - we can use relative links as long as we are explicit about the folders and add the :ignore flag to the link. If you'd like to do this work for linked notebooks, it would be great!

[2022-02-08 15:09] ShadmanAbir commented on #236
Hello there. I am from Bangladesh.If u still need help to translate in bengali let me know.

[2022-03-05 10:35] Girlwithasmile commented on #243
I am Surabhi, an Openforce 2022 contributer and I am interested in translating quiz or other data in Marathi.

[2022-03-06 16:20] SachinDabhade commented on #146
As I am from Data Science background, I would love to contribute in this repository.

[2022-03-07 02:41] tandrimasingha commented on #285
Can you assign this issue to me. I'm a openforce'22 participant.

[2022-03-07 02:42] Vidushi-Gupta commented on #285
Hi @tandrimasingha, this issue has already been worked upon! Please look for another issue which you would like to work on :)

[2022-03-07 02:44] tandrimasingha commented on #285
Can I create my own issue? @Vidushi-Gupta

[2022-03-07 07:13] purohitmansi commented on #154
Hello @paladique!

I am an openforce 2022 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-07 08:20] abhi1e9-1e10 commented on #146
I love contributing . If you want, I can work on this issue .

[2022-03-07 08:21] abhi1e9-1e10 commented on #243
I am Abhishek , an Openforce 2022 contributer and I am interested in translating quiz or other data in Hindi.

[2022-03-07 08:39] AdityaGarg00 commented on #146
That's great @abhi1e9-1e10  and @SachinDabhade you can start contributing on the left ones and if you have any concern you can message here .😃😃

[2022-03-07 08:47] bhumikatewary commented on #169
Hi, I am bhumikatewary, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-07 08:49] anveshajain19 commented on #146
I also want to contribute  , Can you assign me  this issue .

[2022-03-07 08:50] anveshajain19 opened #355 "Data Science In Buisness"
Using Data Science techniques to understand and analyze the large data sets available today has a huge impact on human lives.

I would like to add a readme so that everyone will understand the importance of Data Science in Business.

Data science tools enable organizations to analyze vast quantities of data from widely different sources and present that information in a way that allows data scient

[2022-03-07 09:02] bhumikatewary commented on #169
I have made a PR:  Updated README.md #356
Please review and approve it

[2022-03-07 12:59] jlooper commented on #355
hi, we are not looking to enhance this curriculum with this content as it is already covered. Thank you.

[2022-03-07 12:59] #355 closed

[2022-03-07 13:00] jlooper commented on #285
@tandrimasingha in general we are not looking for minor changes or large enhancements to this curricula, but if you find a typo I will review and potentially merge.

[2022-03-07 15:58] jlooper commented on #146
We do not assign issues; rather I encourage you all to go to the Discussion boards and organize the work

[2022-03-07 16:15] jlooper commented on #154
@purohitmansi we are not assigning issues in this repo and you won't be able to edit Dmitry's video.

[2022-03-07 16:16] jlooper commented on #190
closing for staleness

[2022-03-07 16:16] #190 closed

[2022-03-07 16:16] #250 closed

[2022-03-07 16:17] jlooper commented on #243
closing for lack of clarity

[2022-03-07 16:17] #243 closed

[2022-03-07 16:17] jlooper commented on #247
closing for staleness

[2022-03-07 16:17] #247 closed

[2022-03-07 16:18] jlooper commented on #168
closing for staleness

[2022-03-07 16:18] #168 closed

[2022-03-07 16:18] jlooper commented on #137
closing for staleness

[2022-03-07 16:18] #137 closed

[2022-03-08 02:04] SachinDabhade commented on #146
I want to work on "Defining Data README" and "Defining Data Science README"

[2022-03-08 04:29] bhumikatewary commented on #146
Hi, I am bhumikatewary, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-09 04:15] bhumikatewary commented on #146
Please review my updates on  [TRANSLATIONS] Hindi - Defining Data Science README #359

[2022-03-09 17:57] SachinDabhade commented on #146
Sorry Bhumika but this translation is already taken by me... and I have made pull request also. So sorry about it but there are many contribution remaining. Keep trying

[2022-03-09 17:59] jlooper commented on #146
hi, I recommend you all gather here https://github.com/microsoft/Data-Science-For-Beginners/discussions/148 and organize a checklist of who's translating which files

[2022-03-10 06:18] bhumikatewary commented on #146
I would be glad if I could get guidance on which repos I can contribute in since most of them are already taken

[2022-03-14 12:58] gargabhishek100 commented on #146
I would like to work on [01-defining-data-science](https://github.com/microsoft/Data-Science-For-Beginners/tree/main/1-Introduction/01-defining-data-science)! Is it is still unpicked?

[2022-03-30 12:48] Hsheheuevr232 opened #364 "Ali"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-03-31 14:16] #285 closed

[2022-04-01 12:06] flying-yogurt commented on #135
@paladique Please let me know if you still need someone to help with the issue management. 🐯

[2022-04-01 13:02] Murtaza6547 commented on #135
Yes

On Fri, Apr 1, 2022, 5:36 PM Hao Ren ***@***.***> wrote:

[2022-04-01 14:42] flying-yogurt commented on #135
Aha?

[2022-04-01 16:47] paladique commented on #135
Thank you! I added you as an assignee to this issue!

[2022-04-01 16:47] #154 closed

[2022-04-02 12:10] flying-yogurt commented on #135
#369

[2022-04-02 12:13] flying-yogurt commented on #135
* [x]  Base README.md
* [ ]  Quizzes
* [x]  Introduction base README
  * [ ]  Defining Data Science README
  * [ ]  Defining Data Science assignment
  * [ ]  Ethics README
  * [ ]  Ethics assignment
  * [ ]  Defining Data README
  * [ ]  Defining Data assignment
  * [ ]  Stats and Probability README
  * [ ]  Stats and Probability assignment
* [x]  Working with Data base README
  * [ ]  Relational

[2022-05-05 22:05] dhunks23 opened #379 "[TRANSLATIONS]"
- [ ] Base README.md
- [ ] Quizzes
- [ ] Introduction base README
   - [ ] Defining Data Science README
   - [ ] Defining Data Science assignment
   - [ ] Ethics README
   - [ ] Ethics assignment
   - [ ] Defining Data README
   - [ ] Defining Data assignment
   - [ ] Stats and Probability README
   - [ ] Stats and Probability assignment
- [ ] Working with Data base README
   - [ ] Relational Data

[2022-05-19 01:14] NathanielPather opened #380 "Probability challenge dataset is not available"
**Describe the bug**
Dataset for challenge is not available.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [/1-Introduction)/04-stats-and-probability/](https://github.com/microsoft/Data-Science-For-Beginners/blob/main/1-Introduction/04-stats-and-probability/notebook.ipynb)](https://github.com/microsoft/Data-Science-For-Beginners/blob/main/1-Introduction/04-stats-and-probability/noteb

[2022-05-19 15:40] maxfixx-server-admin opened #381 "[TRANSLATIONS]"
- [x] Base README.md
- [x] Quizzes
- [x] Introduction base README
   - [x] Defining Data Science README
   - [x] Defining Data Science assignment
   - [x] Ethics README
   - [ ] Ethics assignment
   - [ ] Defining Data README
   - [ ] Defining Data assignment
   - [ ] Stats and Probability README
   - [x] Stats and Probability assignment
- [x] Working with Data base README
   - [ ] Relational Data

[2022-05-20 08:26] poi13752 opened #382 "请求教程的中文版本"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-05-20 08:26] #382 closed

[2022-05-20 08:27] poi13752 commented on #382
Request the Chinese version of the tutorial

[2022-05-20 16:04] #381 closed

[2022-05-20 16:05] #379 closed

[2022-05-20 16:05] jlooper commented on #380
hi, it's available on that web page as an embedded table, but maybe it should be exported with attribution

[2022-05-20 20:17] maxfixx-server-admin opened #383 "[TRANSLATIONS]"
- [ ] Base README.md
- [ ] Quizzes
- [ ] Introduction base README
   - [ ] Defining Data Science README
   - [ ] Defining Data Science assignment
   - [ ] Ethics README
   - [ ] Ethics assignment
   - [ ] Defining Data README
   - [ ] Defining Data assignment
   - [ ] Stats and Probability README
   - [ ] Stats and Probability assignment
- [ ] Working with Data base README
   - [ ] Relational Data

[2022-05-20 20:18] maxfixx-server-admin commented on #383
I would love to know more

[2022-05-20 20:18] #383 closed

[2022-05-20 21:14] NathanielPather commented on #380
Thanks for your response, Jen.

What is attribution? I've tried googling and am only seeing results related to marketing. Could you clarify?

[2022-05-20 23:22] jlooper commented on #380
hi @NathanielPather  - sorry, I wasn't clear. I meant that we can scrape the dataset from the page and link it, but I want to make sure to credit the original author, thus to give attribution so we don't lose sight of the source. thanks!

[2022-05-23 14:30] Mutaigm opened #386 "U"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-05-24 06:33] Ishantwofive opened #391 "[TRANSLATIONS]"
- [ ] Base README.md
- [ ] Quizzes
- [ ] Introduction base README
   - [ ] Defining Data Science README
   - [ ] Defining Data Science assignment
   - [ ] Ethics README
   - [ ] Ethics assignment
   - [ ] Defining Data README
   - [ ] Defining Data assignment
   - [ ] Stats and Probability README
   - [ ] Stats and Probability assignment
- [ ] Working with Data base README
   - [ ] Relational Data

[2022-05-24 10:20] JaynouOliver commented on #236
I didn't register for the Microsoft Open Source, so will my contribution be valid?

[2022-05-24 14:27] #386 closed

[2022-05-25 01:52] AdityaGarg00 commented on #146
This file is already taken @gargabhishek100

[2022-05-25 09:59] prtkahuja opened #392 "Microsoft data science course"

[2022-05-26 04:56] Saur2158 commented on #146
Hey can I also be a part of the project  ? I would really love to help

[2022-05-28 12:32] maxfixx-server-admin opened #393 "Shared Office route"
Shared route
From Home (602 Barron Ct) to 602 Barron Ct, Henderson, NV 89002, USA via Barron Ct.

1 min (150 ft)
1 min in current traffic
Avoiding ferries

1. Head south on Barron Ct
2. Arrive at location: 604 Barron Ct
3. Head north on Barron Ct toward E Horizon Dr
4. Arrive at location: 602 Barron Ct
For the best route in current traffic visit https://maps.app.goo.gl/Kfio4xiKSRjDeFS19

[2022-05-28 12:35] #393 closed

[2022-05-28 21:25] maxfixx-server-admin opened #394 "Shared route"
Shared route
From Home (602 Barron Ct) to 36.0119811, -114.9849181 via Barron Ct.

1 min (150 ft)
1 min in current traffic
Avoiding ferries

1. Head south on Barron Ct
2. Arrive at location: 604 Barron Ct
3. Head north on Barron Ct toward E Horizon Dr
4. Arrive at location: 602 Barron Ct
For the best route in current traffic visit https://maps.app.goo.gl/Kfio4xiKSRjDeFS19

[2022-05-28 21:26] maxfixx-server-admin opened #395 "NEVADA LOCATION"
See my real-time location on Maps: https://maps.app.goo.gl/mnFMQr7EbJtgKark6

[2022-05-28 21:34] maxfixx-server-admin opened #396 "602 Barron Ct"
602 Barron Ct
https://maps.app.goo.gl/SaYMGSXWU7GKC7m18

[2022-05-31 18:59] fusenet opened #397 "[TRANSLATIONS]"
- [ ] Base README.md
- [ ] Quizzes
- [ ] Introduction base README
   - [ ] Defining Data Science README
   - [ ] Defining Data Science assignment
   - [ ] Ethics README
   - [ ] Ethics assignment
   - [ ] Defining Data README
   - [ ] Defining Data assignment
   - [ ] Stats and Probability README
   - [ ] Stats and Probability assignment
- [ ] Working with Data base README
   - [ ] Relational Data

[2022-05-31 18:59] FuseAkhi opened #398 "I'm keen"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-06-07 13:53] souzaspa commented on #136
Good Morning,

Hello,
I am brazilian and if you want, I can translate parts on this issue.
Thanks.

[2022-06-10 07:18] moulibheemaneti commented on #397
Hi there.

I would love to contribute for the translations in Telugu. Please let me know if you are willing to accept the Telugu translations. If yes then I would like to take forward our discussion on this and start working on it. Looking forward for your reply.

Have a nice day.😃

[2022-06-11 18:11] vedant-z commented on #397
@FuseAkhi I would like to take this on...

[2022-06-11 18:14] vedant-z commented on #146
@AdityaGarg00 I would like to work on this 🙂

[2022-06-11 22:19] tazimamatovzeka commented on #398
Ayzat

[2022-06-12 04:13] AdityaGarg00 commented on #146
Sure @Saur2158 and @vedant-z Go ahead you can start contributing just mention the files you start contributing to so that everyone could know that you are contributing to that particular file.

[2022-06-12 05:38] vedant-z commented on #146
@AdityaGarg00  Actually I was searching for thr files yet to be translated but I couldn't find one .
If you can point out any particular one it would be of great help.

Thanks

[2022-06-14 06:53] markoenix opened #407 "[TRANSLATIONS]"
- [ ] Base README.md
- [ ] Quizzes
- [ ] Introduction base README
   - [ ] Defining Data Science README
   - [ ] Defining Data Science assignment
   - [ ] Ethics README
   - [ ] Ethics assignment
   - [ ] Defining Data README
   - [ ] Defining Data assignment
   - [ ] Stats and Probability README
   - [ ] Stats and Probability assignment
- [ ] Working with Data base README
   - [ ] Relational Data

[2022-06-28 09:23] zgxjy opened #409 "ALL the quize links cannot be opened"
**Describe the bug**
May I ask why all the quiz links cannot be opened

[2022-07-01 14:27] #398 closed

[2022-07-01 14:28] #396 closed

[2022-07-01 14:28] #394 closed

[2022-07-01 14:28] #395 closed

[2022-07-01 14:28] #392 closed

[2022-07-14 06:17] richlysakowski opened #413 "Quiz links are DEAD / Dead On Arrival... Please Squash these link bugs"
Links to pre-quizzes and post-quizzes are dead.

No quizzes defeats the purpose of reinforcing "what is to be learned" and then "what was learned."

Dr. Rich Lysakowski

[2022-07-14 09:09] leestott commented on #413
@richlysakowski  thanks for the heads up on this the web site will be up and running shortly apologies

[2022-07-14 18:35] leestott commented on #413
@richlysakowski Websites are live apologies

[2022-07-14 18:35] #413 closed

[2022-07-14 18:36] leestott commented on #409
@zgxjy Website for quizes is now live

[2022-07-14 18:36] #409 closed

[2022-07-16 18:21] carlospueblis opened #419 "Data science"

[2022-07-18 08:24] #419 closed

[2022-07-18 08:27] #380 closed

[2022-08-07 19:03] Rkyal opened #430 "ا"

[2022-08-10 01:30] #430 closed

[2022-08-15 13:39] teenjuna opened #431 "Typo in lesson 04-stats-and-probability"
The lesson provides an example dataset of baseball players. The lesson and the associated notebook use word "height" instead of "weight" (and vice versa).

[2022-08-28 14:43] AshishG97 commented on #146
I would love to contribute to this issue as Hindi is my Native language and I use Hindi in my day-to-day life.

[2022-08-29 10:06] charaf19 commented on #146
I would love to contribute..

[2022-09-04 20:55] charaf19 opened #432 "[TRANSLATIONS] FRENCH"
- [ ] Base README.md
- [ ] Quizzes
- [ ] Introduction base README
   - [ ] Defining Data Science README
   - [ ] Defining Data Science assignment
   - [ ] Ethics README
   - [ ] Ethics assignment
   - [ ] Defining Data README
   - [ ] Defining Data assignment
   - [ ] Stats and Probability README
   - [ ] Stats and Probability assignment
- [ ] Working with Data base README
   - [ ] Relational Data

[2022-09-06 10:59] AdityaGarg00 commented on #146
@vedant-z  just translate the unticked files mentioned in the issue itself but do mention the file whatever you are going to translate .

[2022-09-15 17:53] paladique commented on #407
@markoenix hi! Could you let me know which language you'd like to translate to? Thanks!

[2022-09-30 05:21] clairecharles commented on #132
Hey @paladique u would like to work on Data science in cloud base Readme section

[2022-10-04 18:14] annezao commented on #136
cc: @paladique
Hey everyone, I'm willing to help on translating to pt-br. It seems like cap 5 and 6 need translations.